@model trilha_net_ef_mvc_desafio.Models.Task;

@{
    ViewData["Title"] = "Task Details";
}

<h2>Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(task => task.Title)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(task => task.Title)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(task => task.Description)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(task => task.Description)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(task => task.Date)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(task => task.Date)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(task => task.Status)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(task => task.Status)
        </dt>
    </dl>
</div>

<a asp-action="Index" class="btn btn-secondary">Back</a>
<a asp-action="ChangeStatus" asp-route-id="@Model.Id" class="btn btn-primary">Change Status</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit task</a>